header {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    nav {
        background: white;
        height: 80px;
        width: 100%;

        .checkbut {
            display: none;
        }
    
        #check {
            display: none;
        }

        a {
            text-transform: uppercase;
            text-decoration: none;
            color: $fontGray;

            :hover {
                transition: .5s;
                color: $fontOrange;
            }
        }


        label.logo {
            font-size: 50px;
            font-family: 'Bebas Neue', cursive;
            letter-spacing: 2px;
            padding: 0 20px;
            line-height: 80px;
            height: 70px;
        }

        ul {
            float: right;
            margin-right: 20px;
            list-style-type: none;

            li {
                line-height: 40px;
                margin: 0 7px;
                display: inline-block;

                :hover {
                    transition: .5s;
                    color: $fontOrange;
                }
            }
            
        }
    }
}
